{% extends "AppBundle::base.html.twig" %}

{% block title %}
  Cerpen: {{ post.title }} | {{ parent() }}
{% endblock %}

{% block body %}
<div class="columns">
  <div class="column is-three-quarter">
    <h1 class="title is-1">{{ post.title }}</h1>
    <h4 class="subtitle is-5">
      <strong><a href="{{ path('posts-by-term', {'taxonomy': 'category', 'term': post.authorSlug}) }}">{{ post.authorName }}</a></strong>,
      <a href="{{ path('posts-by-term', {'taxonomy': 'tag', 'term': post.mediaSlug}) }}">{{post.mediaName}}</a>
      <i>({{ post.publishedDate }})</i>
    </h5>
    {{ include('AppBundle:Blog:_commentandlike.html.twig', { 'post': post }) }}
    <div class="post-content">
      {{ post.content | raw }}
    </div>
    <div class="post-comments">
      <h3 class="title">{{comments.found}} Komentar</h3>
      {% for comment in comments.comments %}
      {{ include('AppBundle:Blog:_comment-item.html.twig', { 'comment': comment }) }}
      {% endfor %}
    </div>
  </div>
  <div class="column is-one-quarter">
    <h3 class="title">Cerpen Terbaru</h3>
    {% for item in posts.posts %}
    {{ include('AppBundle:Blog:_post-item.html.twig', { 'post': item, 'thumbnailSize': 64, 'showExcerpt': false }) }}
    {% endfor %}
  </div>
</div>
{% endblock %}
